* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  img{
    width: 100%;
    max-width: 700px;
  }
  
  h1 {
    font-family: 'Open Sans' , Arial , Helvetica,sans-serif;
    font-size: 72px;
  }

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

  section {

    grid-column: 1/4;

    /*background: #f2f4f3;*/
    font-family: 'Open Sans' , Arial , Helvetica,sans-serif;
   /* height: calc(100vh - 64px);*/
    /* display: block; */
    align-items: left;
    padding: 20px;

  }
  aside{
    grid-column: 4/5;
    background-color:darkgray;
    min-height: 400px;
    height: fit-content;
    width: fit-content;
  }

  article  {

 
    font-family: 'Open Sans' , Arial , Helvetica,sans-serif;
   
    display: block;
    align-items: left;
    justify-content: center;
    padding: 20px;
  }


  #main-nav a {
    color: #f6f7f8;
    background: #09AADC;
    height: 64px;
    font-family: 'Open Sans' , Arial , Helvetica,sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
  }
  #main-nav a:hover {
    background: #305753;
  }
  

  
  #main-nav ul {
    list-style: none;
    display: flex;
  }
  
  #main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  #main-nav li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0px;
  }
  
  .submenu li {
    display: none;
    position: absolute;
    top: 0px;
  }
  
  .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }
  
  .submenu li {
    position: relative;
  }
  
  .submenu li:hover .submenu-2 li {
    display: block;
  }
  
  h2 , h3{
    color: #1089FF;
  }
 
  
  .arrow {
    margin-left: 8px;
    color: #eee;
    font-size: 12px;
  }

  .icono{
    margin-left: 8px;
    margin-right: 8px;
    color: #eee;
    font-size: 21px;
  }

  img{
    display:flex;
    margin:auto;
    position: relative;
    }
  



    footer {
   

        background: #09AADC;
        font-family: 'Open Sans' , Arial , Helvetica,sans-serif;
        font-weight: bold;
        padding: 12px;
        
        }

